.header {
    display: flex;
    padding: 0px;
    text-align: left;
    margin-right: auto;
    background: #1F2937;
    color: white;
    font-size: 10px;
}

.mid {
    display: flex;
    padding: 0px;
    text-align: left;
    margin-right: auto;
    background: #1F2937;
    color: white;
    font-size: 10px;

}

.testimonial {
    display: flex;
    padding: 0px;
    text-align: left;
    margin-right: auto;
    background: #1F2937;
    color: white;
    font-size: 10px;

}

.footer {
    display: flex;
    padding: 0px;
    text-align: left;
    margin-right: auto;
    background: #1F2937;
    color: white;
    font-size: 10px;

}